@tailwind base;
@tailwind components;
@tailwind utilities;

.highlight {
  font-weight: 600;
  background-color: #FFF9C4; /* Softer yellow */
  padding: 2px 4px;
  border-radius: 4px;
}

.h-full-minus-header {
  height: calc(100dvh - 90px);
}
